.header-container{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 16px;
    background-color: #fff;
}

.header-container img{
    width: 124px;
}

.header-container ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}