@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
  --background-color: #f6f6f6;
  --principal-font: 'Inter', sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--principal-font);
}

body{
  background-color: var(--background-color);
  position: relative;
}

ul, li{
  list-style: none;
}

a{
  text-decoration: none;
  color: #000;
  font-size: 1rem;
}

img{
  max-width: 100%;
  max-height: 100%;
}

input:focus{
  outline: none;
}

.text-button{
  background-color: transparent;
  border: none;
  font-size: 1rem;
}

.link-button{
  padding: 4px 16px;
  border-radius: 16px;
  transition: .3s;
}

.active{
  color: #fff;
  background-color: #3a86ff;
}

.none{
  display: none;
}


button{
  cursor: pointer;
  padding: 8px 16px;
  transition: .2s;
}

button:hover{
  border-radius: 5px;
}

.darkButton{
  border: none;
  background-color: #222;
  color: #fff;
}

.outLineButton{
  border: 1px solid #222;
  background-color: transparent;
  color: #222;
}

.loadBtn{
  background-color: #eee;
  border: none;
  border-radius: 8px;
}

.loadBtn svg{
  color: #777;
  animation: loadAni 1.5s infinite linear;
}

@keyframes loadAni{
  to{
    transform: rotate(0deg);
  }from{
    transform: rotate(360deg);
  }
}

.invisible{
  background-color: transparent;
  border: none;
}

.error-text{
  font-size: 14px;
  color: rgb(255, 0, 76);
}

.small-text{
  font-size: 14px;
  color: #aaa;
}

.plus-button{
  background-color: #fca311;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 5px;
  border: 2px solid transparent;
  transition: .4s;
}

.plus-button-active{
  background-color: transparent;
  color: #fca311;
  border-color: #fca311;
}