.full-screen{
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: #1111118e;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.full-screen form{
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 8px;
    padding: 16px 8px;
    gap: 16px;
    border-radius: 8px;
}

.full-screen form .apresentaion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.full-screen form label, .full-screen form button{
    min-width: 220px;
}

